.mapRegion{
    /*-fx-pref-width: 1100;
    -fx-min-width: 1100;
    -fx-max-width: 1100;
    -fx-max-height: 700;
    -fx-pref-height: 700;
    -fx-min-height: 700;*/
    -fx-padding: 200 100%;
    -fx-background-color: blue;

}
.uiRegion{
      -fx-padding:10 0 10 0;
}
.weatherBox{
     -fx-padding:0 10 10 10;
}
.button{
    -fx-background-color: blue;
    -fx-background-radius: 3px;
    -fx-font-family:'QuicksandBold-Regular';
    -fx-font-size: 14;
    -fx-text-fill: #ffffff;

}
.headerLable{
     -fx-font-family:'QuicksandBold-Regular';
     -fx-font-size: 18;
     -fx-text-fill: blue;
}